.discogs-embed
  min-height $widgetMinHeight
  a
    color $linkColor
    text-decoration underline
    transition color .2s ease-in-out
  .discogs-embed-header
    h2
      line-height 1.45
      vertical-align middle
      margin 20px 0 10px 0
      a:hover
        color lighten($linkColor, 50%)
      .year
        font-style italic
        float right
        font-size .7em
        line-height 2.45
        vertical-align middle
        display inline-block
        color $lightColor
    h3
      font-size 1em
      font-weight 400
      color $mediumColor
      margin-bottom 20px
      a
        color darken($mediumColor, 20%)
        &:hover
          color black
      .formats
        margin 0
        display inline-block
        li
          padding 0
          &:not(:last-child):after
            content ',\00a0'
    
  .discogs-embed-body        
    margin-bottom 20px
    img
      width 100%  
      margin-bottom 20px
    .tracklist    
      ul
        margin-bottom 0    
      .more
        text-align right
        margin-top 15px
        font-size .8em
        .more-label
          display none
          &:after
            content '…'    
      ul
        max-height 9999px
        margin-bottom 0
        &.ellipsed:after
          content ''
          height $widgetCollapsedHeight
          position absolute
          width 100%
          top 0
          background linear-gradient(top, rgba(255,255,255,.0), white)
          
        .heading
          margin-bottom 10px
          font-style italic
          font-weight bold
          font-size .9em
          &:not(:first-child)
            margin-top 30px
        .track
          line-height 1.8
          .position
            margin-right 5px
            font-weight bold
            &:after
              content '.'
          .duration
            float right        
      
      &.collapsed
        ul
          overflow hidden
          max-height $widgetCollapsedHeight
        .more
          .more-label
            display inline
          .less-label
            display none
            
  .discogs-embed-footer
    font-size .9em
    font-style italic
    color darken($mediumColor, 20%)
    img
      width 16px
      height 16px