<div class="container-fluid">
  <h2>Discogs Embed - Ooooops!</h2>
  <p>Seems like something went wrong when loading resource with id <code>{{id}}</code> : ((</p>
  <p><a href="#" class="reload">Please reload</a>!</p>
</div>